#events {
  display: table-column;
  columns: 1;
  grid-row: 100; }
  #events > div h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 18; }
  #events > div > div p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12; }
