#events {
    grid-template-rows: "scav", "camp", "egg";

    }
    >div {
        h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 18;
}
    >div {
        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 12;
        }
    }
}
#scav {
    button {
        background-color: #2F5467;;
    }
}