#titleheader {
    text-align: center;
    font-size: 24pt;
}
#covid {
    font-size: 16pt;
    text-align: center;
    background-color: #FFF3A5;
    margin-bottom: 20px;
    align-content: center;
    margin-left: 50px;
}
